.idea
.classpath
.clj-kondo/*
!.clj-kondo/config.edn
!.clj-kondo/hooks
.cpcache
.lsp/
lsp/
log/
.nrepl-history
.nrepl-port
.vscode
*.class
*.jar
*~
*.iml
/classes
/target
.calva
.DS_Store
.portal/
.env
.env.local
*.sqlite*
.aider*
.testcontainers.properties
node_modules/
resources-hashed/
resources/public/css/output*
resources/public/assets/*
resources/public/js
.shadow-cljs/
out/
