{:readx.sentry/sentry
 {:dsn #or [#env SENTRY_DSN nil]}

 :readx.db/db
 {:jdbc-url #profile {:default "jdbc:sqlite:db/readx.sqlite"
                      :test "jdbc:sqlite::memory:"}}

 :readx.worker/pool
 {:size #profile {:default 4 :prod 2}}

 :readx.server/server
 {:options {:port #profile {:default 8000
                            :prod 80
                            :test #free-port true}
            :session-secret-key #profile {:default "test-secret-key"
                                          :prod #env SESSION_SECRET_KEY}
            :cookie-attrs-secure? #profile {:default false
                                            :prod true}
            :auto-reload? #profile {:default false
                                    :dev true}
            :allowed-origins #profile {:default :all
                                       :prod [#envf ["https://%s" APP_DOMAIN]]}
            :cache-assets? #profile {:default false
                                     :prod true}}
  :db #ig/ref :readx.db/db
  :sentry #ig/ref :readx.sentry/sentry
  :pool #ig/ref :readx.worker/pool}}
